.form-group {
  margin-bottom: 30px;
}

.form-control {
  padding: 15px;
  font-size: 15px;
  line-height: 15px;
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #333;
  box-sizing: border-box;
}

.loading {
  margin: auto;
}