.clearfix {
  width: 600px;
  margin: 200px auto;

  .action {
    background-color: red;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border-width: 0;
    margin-bottom: 30px;
}
}